<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/materialize/css/materialize.min.css" />
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/jquery/jquery.min.js"></script>
	<title>Dumbo Visualizer</title>
</head>

<body>
	{{{ body }}}
</body>

</html>