<nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" id="logo" href="#">Dumbo Visualizer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link disabled" id="login" href="login.html">Login</a>
                </li>
            </ul>
        </div>
    </nav>



    <footer id="superFooter" class="footer">
        <div class="container">
            <div class="row">
                <div id="sound-mangement" class="col-md-4">
                    <button type="file" class="btn btn-upload fas fa-upload "></button>
                    <button type="button" class="btn btn-spotify fab fa-spotify"></button>
                    <button type="button" class="btn btn-volume fas fa-volume-up"></button>
                </div>
                <div id="sound-control" class="col-md-4">
                    <button type="button" class="btn btn-playlist fas fa-bars"></button>
                    <button type="button" class="btn btn-play fas fa-play"></button>
                    <button type="button" class="btn btn-pause fas fa-pause"></button>
                </div>
                <div id="visualizer-settings" class="col-md-4">
                    <div class="btn-group dropup">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-settings fas fa-cog fa-static dropdown-toggle"></button>
                        <div class="dropdown-menu">
                            <input class="dropup-placeholder1"></input>
                            <input class="dropup-placeholder2"></input>
                            <input class="dropup-placeholder3"></input>
                            <input class="dropup-placeholder4"></input>
                            <input class="dropup-placeholder5"></input>
                            <input class="dropup-placeholder6"></input>
                        </div>
                    </div>
                    <button type="button" class="btn btn-fullscreen fas fa-expand"></button>
                </div>
            </div>
        </div>
    </footer>