#fragment {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: -1;
}

form {
  width: 200px;
}

input {
  color: white;
}

@media (orientation: landscape){
  #fragment {
    width: 100%;
  }
}

@media (orientation: portrait){
  #fragment {
    height: 100%;
  }
}