#fragment {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: -1;
}

form {
  width: 200px;
}

input {
  color: white;
}

@media (orientation: landscape){
  #fragment {
    width: 100%;
  }
}

@media (orientation: portrait){
  #fragment {
    height: 100%;
  }
}
nav {
  background-color:#D62DCA;
}

#logo {
  color:white;    
}

#login {
  color:white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color:#D62DCA;
}